/*中间分类样式*/
.grid {
  height: 480px;
  background-color: #f6f6f6;
}
.grid-col1 {
  width: 190px;
  height: 100%;
  background-color: #6e6568;
  color: #fff;
  font-size: 14px;
  position: relative;
}
.ad {
  width: 1920px;
  height: 480px;
  position: absolute;
  top: 0;
  left: -360px;
  z-index: -999;
}
.grid-col1 a {
  color: #fff;
  font-size: 14px;
  margin: 0 3px;
}
.grid-col1 a:hover {
  color: #f10215;
}
.grid-col1 ul {
  padding: 10px 0;
}
.grid-col1 ul li {
  padding-left: 12px;
  height: 29px;
  line-height: 26px;
  /*margin-left: 20px; 为什么不用margin 因为padding不占位置 不会影响li放上去改变他的背景颜色时的效果*/
}
.grid-col1 ul li:hover {
  background-color: #9c9698;
}
.grid-col2 {
  width: 790px;
  height: 100%;
  margin-left: 10px;
}
/*banner部分*/
.grid-col2-b div {
  float: left;
  margin-top: 10px;
}
.grid-col2-b div:last-child {
  float: right;
  margin-top: 10px;
}
/*箭头部分*/
/*显示上一直有问题 初步考虑应该是权重的问题*/
.grid-col2-t {
  position: relative;
}
.arrow-l,
.arrow-r {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 60px;
  border: rgba(0, 0, 0, .3);
  transform: translateY(-50%);
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: rgba(255, 255, 255, .6);
  font-family: arial;
  font-weight: normal;
}
.arrow-r {
  right: 0;
}
.circle {
  position: absolute;
  width: 165px;
  height: 20px;
  background: rgba(255, 255, 255, .3);
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  border-radius: 510px;
  padding-left: 10px;
}
.circle li {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  float: left;
  margin: 4px;
  cursor: pointer; /*鼠标经过时变成小手*/
}
.circle .current {
  background-color: #f10215;
}
.grid-col3 {
  width: 190px;
  height: 100%;
}
/*右边部分*/
.login {
  height: 85px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
}
.login-t {
  width: 95px;
  height: 60px;
  line-height: 20px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  padding-left: 60px;
  position: relative;
}
.login-t a {
  color: #666;
}
.login-t a:hover {
  color: #f10512;
}
.login-b a {
  display: inline-block;
  width: 70px;
  height: 20px;
  line-height: 20px;
  border: 2px solid #f10215;
  margin: 1px;
  text-align: center;
  color: #f10215;
}
.login-b a:hover {
  background: #f10215;
  color: #fff;
}
.user-info {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/sprite_userinfo@1x.png) no-repeat;
}
.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}
.news {
  height: 125px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
}
.new-t {
  height: 19px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.new-t a {
  float: left;
  height: 17px;
  line-height: 17px;
}
.cuxiao {
  width: 38px;
  border-right: 1px solid #ccc;

}
.gg {
  margin-left: 15px;
}
.new-t .more {
  float: right;
}
.new-t div {
  width: 28px;
  height: 2px;
  background-color: #f10215;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.new-b {
  padding-top: 15px;
}
.new-b li {
  height: 23px;
  line-height: 23px;
}
.expand {
  height: 208px;
  background-color: #fff;
  overflow: hidden; /*expand 这个宽度继承了父亲190宽度*/
}
.expand ul {
  width: 195px; /*父亲是190 但是里面的li 宽度超过了190 摆放不开4个li 此时 让li 宽度变大*/
}
.expand li {
  width: 47px;
  height: 69px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
}
.expand li a {
  display: block;
  padding-top: 15px;
  text-align: center;
}
.expand li i {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background: url(../images/sprite_fs@1x.png) no-repeat;
}
.expand li:nth-child(1) i {
  width: 18px;
  height: 23px;
  background-position: -5px -88px;
}
.expand li:nth-child(2) i {
  width: 18px;
  height: 23px;
  background-position: -2px -45px;
}
.expand li:nth-child(3) i {
  width: 18px;
  height: 23px;
  background-position: -46px -90px;
}
.expand li:nth-child(4) i {
  width: 24px;
  height: 23px;
  background-position: -88px -3px;
}
.expand li:nth-child(5) i {
  width: 24px;
  height: 23px;
  background-position: -89px -47px;
}
.expand li:nth-child(6) i {
  width: 19px;
  height: 23px;
  background-position: -2px -2px;
}
.expand li:nth-child(7) i {
  width: 24px;
  height: 23px;
  background-position: -44px -44px;
}
.expand li:nth-child(8) i {
  width: 18px;
  height: 23px;
  background-position: -90px -88px;
}
.expand li:nth-child(9) i {
  width: 20px;
  height: 23px;
  background-position: -134px -1px;
}
.expand li:nth-child(10) i {
  width: 24px;
  height: 23px;
  background-position: -134px -45px;
}
.expand li:nth-child(11) i {
  width: 18px;
  height: 23px;
  background-position: -46px -0px;
}
.expand li:nth-child(12) i {
  width: 24px;
  height: 23px;
  background-position: -132px -90px;
}
