/*中间分类样式*/
.grid {
  height: 480px;
  background-color: #f6f6f6;
}
.grid-col1 {
  width: 190px;
  height: 100%;
  background-color: #fefefe;
  color: #fff;
  font-size: 14px;
  position: relative;
}
.ad {
  width: 1920px;
  height: 480px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -360px;
  z-index: -999;
}
.grid-col1 a {
  color: #606060;
  font-size: 14px;
  margin: 0 3px;
}
.grid-col1 a:hover {
  color: #f10215;
}
.grid-col1 ul {
  padding: 10px 0;
}
.grid-col1 ul li {
  color: #606060;
  padding-left: 12px;
  height: 29px;
  line-height: 26px;
  /*margin-left: 20px; 为什么不用margin 因为padding不占位置 不会影响li放上去改变他的背景颜色时的效果*/
}
.grid-col1 ul li:hover {
  background-color: #d9d9d9;
}
.grid-col2 {
  width: 790px;
  height: 100%;
  margin-left: 10px;
}
/*banner部分*/
.grid-col2-b div {
  float: left;
  margin-top: 10px;
}
.grid-col2-b div:last-child {
  float: right;
  margin-top: 10px;
}
/*箭头部分*/
/*显示上一直有问题 初步考虑应该是权重的问题*/
.grid-col2-t {
  position: relative;
}
.arrow-l,
.arrow-r {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 60px;
  border: rgba(0, 0, 0, .3);
  transform: translateY(-50%);
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: rgba(255, 255, 255, .6);
  font-family: arial;
  font-weight: normal;
}
.arrow-r {
  right: 0;
}
.circle {
  position: absolute;
  width: 165px;
  height: 20px;
  background: rgba(255, 255, 255, .3);
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  border-radius: 510px;
  padding-left: 10px;
}
.circle li {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  float: left;
  margin: 4px;
  cursor: pointer; /*鼠标经过时变成小手*/
}
.circle .current {
  background-color: #f10215;
}
.grid-col3 {
  width: 190px;
  height: 100%;
}
/*右边部分*/
.login {
  height: 85px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
}
.login-t {
  width: 95px;
  height: 60px;
  line-height: 20px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  padding-left: 60px;
  position: relative;
}
.login-t a {
  color: #666;
}
.login-t a:hover {
  color: #f10512;
}
.login-b a {
  display: inline-block;
  width: 70px;
  height: 20px;
  line-height: 20px;
  border: 2px solid #f10215;
  margin: 1px;
  text-align: center;
  color: #f10215;
}
.login-b a:hover {
  background: #f10215;
  color: #fff;
}
.user-info {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/sprite_userinfo@1x.png) no-repeat;
}
.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}
.news {
  height: 125px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
}
.new-t {
  height: 19px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.new-t a {
  float: left;
  height: 17px;
  line-height: 17px;
}
.cuxiao {
  width: 38px;
  border-right: 1px solid #ccc;

}
.gg {
  margin-left: 15px;
}
.new-t .more {
  float: right;
}
.new-t div {
  width: 28px;
  height: 2px;
  background-color: #f10215;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.new-b {
  padding-top: 15px;
}
.new-b li {
  height: 23px;
  line-height: 23px;
}
.expand {
  height: 208px;
  background-color: #fff;
  overflow: hidden; /*expand 这个宽度继承了父亲190宽度*/
}
.expand ul {
  width: 195px; /*父亲是190 但是里面的li 宽度超过了190 摆放不开4个li 此时 让li 宽度变大*/
}
.expand li {
  width: 47px;
  height: 69px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
}
.expand li a {
  display: block;
  padding-top: 15px;
  text-align: center;
}
.expand li i {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background: url(../images/sprite_fs@1x.png) no-repeat;
}
.expand li:nth-child(1) i {
  width: 18px;
  height: 23px;
  background-position: -5px -88px;
}
.expand li:nth-child(2) i {
  width: 18px;
  height: 23px;
  background-position: -2px -45px;
}
.expand li:nth-child(3) i {
  width: 18px;
  height: 23px;
  background-position: -46px -90px;
}
.expand li:nth-child(4) i {
  width: 24px;
  height: 23px;
  background-position: -88px -3px;
}
.expand li:nth-child(5) i {
  width: 24px;
  height: 23px;
  background-position: -89px -47px;
}
.expand li:nth-child(6) i {
  width: 19px;
  height: 23px;
  background-position: -2px -2px;
}
.expand li:nth-child(7) i {
  width: 24px;
  height: 23px;
  background-position: -44px -44px;
}
.expand li:nth-child(8) i {
  width: 18px;
  height: 23px;
  background-position: -90px -88px;
}
.expand li:nth-child(9) i {
  width: 20px;
  height: 23px;
  background-position: -134px -1px;
}
.expand li:nth-child(10) i {
  width: 24px;
  height: 23px;
  background-position: -134px -45px;
}
.expand li:nth-child(11) i {
  width: 18px;
  height: 23px;
  background-position: -46px -0px;
}
.expand li:nth-child(12) i {
  width: 24px;
  height: 23px;
  background-position: -132px -90px;
}
/*秒杀栏样式开始*/
.floor {
  margin-top: 30px;
  overflow: hidden;
}
.ms {
  overflow: hidden;
}
.ms_box {
  width: 190px;
  height: 280px;
  background: #e83632;
  overflow: hidden;
}
.ms_box img {
  display: block;
  margin: 6px auto;
  width: 30px;
  height: 40px;
}
.ms_box_w1 {
  width: 120px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 30px;
  color: #fff;
}
.ms_box_w2 {
  margin: 0 auto;
  margin-top: 12px;
  width: 101px;
  font-size: 15px;
  color: #eb9699;
}
.ms_box_w3 {
  margin: 0 auto;
  width: 112px;
  font-size: 14px;
  color: #fff;
}
.time_ms {
  position: relative;
  margin-top: 40px;
  margin-right: 5px;
  width: 32px;
  height: 36px;
  background: #000;
  font-size: 25px;
  font-weight: bold;
  line-height: 36px;
  text-indent: center;
  padding-left: 4px;
  box-sizing: content-box;
  color: #fff;
  z-index: 99999999;
}
.time_ms:after {
  content: "";
  width: 36px;
  border: 1px solid #e83632;
  position: absolute;
  top: 18px;
  left: 0;
}/*添加计时器的横杆*/
.ms_box>div {
  margin: 0 auto;
  width: 123px;
}
.ms_lb_center {
  width: 800px;
  height:280px;
  background: #fff;
}
.ms_lb_ce {
  width: 200px;
  height: 280px;
  border-right: 1px solid #f1f1f1;
  box-sizing: border-box;
}
.ms_lb_ce img {
  display: block;
  margin-top: 40px;
  margin-left: 28px;
}
.ms_lb_ce_d {
  font-size: 12px;
  width: 140px;
  height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 16px auto;
}
.ms_lb_ce_p {
  width: 145px;
  height: 20px;
  border: 1px solid #e43a2d;
  margin: 20px auto;
  font-size: 14px;
  font-weight: bold;
  color: #c7c9c6;
  text-decoration: line-through;
  text-align: center;
  line-height: 20px;
}
.ms_lb_ce_p span {
  display: inline-block;
  width: 75px;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 20px;
  background: #e43a2d;
}
.ms_lb_bt{
  width:20px;
  height: 40px;
  font-size:20px;
  background: #ccc;
  color: white;
  line-height: 40px;
  position:relative;
  z-index: 2;
  top: -200px;
}

/*秒杀栏按钮*/
.ms_lb_right {
  position: relative;
  width: 200px;
  height: 280px;
  background: #fff;
}
.ms_lb_right img {
  margin: 10px 10px;
  width: 180px;
  height: 260px;
}
.ms_lb_right ul {
  position: absolute;
  top: 255px;
  left: 80px;
  width: 30px;
}
.ms_lb_right ul li {
  float: left;
  width: 5px;
  height: 5px;
  margin-left: 10px;
  border-radius: 50%;
  background: #da817d;
}
/*秒杀栏样式结束*/


/*特色标题开始*/
 .ts_order {
   padding-bottom: 25px;
   text-align: center;
}
 .ts_order .ts_line {
   display: inline-block;
   width: 50px;
   margin-top: 40px;
   border-top: 3px solid black ;
}
.ts_order .ts_txt {
   color: #181a17;
   font-size: 22px;
   vertical-align: middle;
}
/*特色图片*/
.ts_pict {
  width:390px;
  background:white;
  margin-right:10px;
}
.ts_pict1 {
  width:390px;
  background:white;
}
.ts_lb {
 width:350px;
 padding:10px 0 10px 10px;
}
.ts_lb ul li{
  float:left;
}
.ts_zi {
  font:25px 微软雅黑;
  color: #222222;
  padding-right: 5px;
  padding-left: 10px;
}
.ts_pic {
  width:30px;
  height: 30px;
 padding-right:10px;
 padding-top:3px;
}
.ts_zione {
  font-size:15px;
  color:#ACACAC;
  line-height:35px;
}
.ts_pictwo {
  width: 350px;
  height:250px;
  padding-bottom:20px;
  padding-left:20px;

}
.ts_bt {
  width:20px;
  height: 40px;
  font-size:22px;
  background: #ccc;
  color: white;
  position:relative;
  z-index: 2;
  top: -150px;
}

/*特色标题结束*/
/*智能先锋区域开始*/
.shouji_img1_on {
  margin-left: 20px;
}
.shouji_img2_on {
  margin-right: 20px;
}
.ts_pict_ul_on {
  margin: 10px 20px 20px 20px;
}
.ts_pict>ul>li {
  width: 87px;
  height: 58px;
  float: left;
}
.shouji_img_on {
  width: 100%;
  height: 100%;
  border: 1px solid #acacac;
}
.ts_pict_img {
  width: 340px;
  height: 344px;
  padding: 20px 25px;
  display: block;
}
.ts_pict2 {
  position: relative;
}
.ts_pict2:before {
  content: "";
  position: absolute;
  width: 320px;
  height: 400px;
  border: 5px solid #333;
  top: 30px;
  left: 60px;
}
.ts_pict2_div {
  position: relative;
}
.ts_pict2_img {
  position: absolute;
  width: 330px;
  height: 400px;
  margin-left: 20px;
  display: block;
}
/*智能先锋区域结束*/
/*智能先锋区域开始2*/
/*智能先锋2-图片左边样式开始*/
.ts_pict2-l {
  position: relative;
}
.ts_pict2-l:before {
  content: "";
  position: absolute;
  width: 320px;
  height: 400px;
  border: 5px solid #333;
  top: 28px;
  left: 0;
  overflow: hidden;
}
.ts_pict2_div-l {
  position: relative;
  width: 330px;
  height: 400px;
}
.ts_pict2_img-l {
  position: absolute;
  display: block;
  float: left;
  width: 330px;
  height: 190px;
  margin-left: 35px;
}
.ts_pict2_img-l-t {
  display: block;
  float: left;
  padding-top: 210px;
  width: 330px;
  height: 190px;
  margin-left: 35px;
}
.ts_pict_c {
  width: 390px;
  padding-bottom: 12px;
  background: #fff;
}
.ts_pict_c>img {
  width: 340px;
  height: 100%;
  margin: 0px 25px 10px 25px;
}
.ts_pict2_l_big {
  margin-top: 26px;
}
.ts_pict_r {
  width: 400px;
}
.ts_pict_r>div {
  float: left;
  width: 190px;
  background: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
}
.ts_pict_r>div img {
  width: 155px;
  height: 150px;
  margin: 10px 20px;
}
.ts_pict_r>div>p {
  margin: 0 auto;
  overflow: hidden;
  width: 140px;
  height: 14px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ts_pict_r>div>span {
  display: block;
  height: 30px;
  line-height: 30px;
  color: red;
  text-align: center;
  font-size: 16px;

}
/*智能先锋区域结束2*/
/*生活白货开始*/
.shouji_img3 {
  width: 350px;
  margin: 0 20px;
  height: 100%;
  margin-bottom: 10px;
}
.shouji_img1 {
 margin-left: 20px;
 margin-bottom: 14px;
}
.shouji_img2 {
  margin-right: 20px;
  margin-bottom: 14px;
}
/*生活白货结束*/